$default: (
  component-header-color: #474747,
  welcome-focus-button-background: #ff8527,
  home-items-focus-border: 0.25rem solid #ff8527,
  home-items-focus-shadow: 0 0 1rem rgba(255, 136, 10, 0.6),
  page-contain-background: rgba(0, 0, 0, 0.2),
  weather-iconfont-color: #ff8527,
  info-menus-focus-background: #ff8527,
  info-menus-blur-background: #f19955,
  info-menus-focus-shadow: 0 0 1rem rgba(133, 85, 21, 0.3),
  info-pages-focus-border: 0.25rem solid #ff8527,
  info-pages-focus-shadow: 0 0 1rem rgba(133, 85, 21, 0.3),
  setting-focus-button-background: rgba(255, 133, 39, 0.6),
);
